<div class="field form-group mb-3" id="sponsorPreferences">
  <%= render 'shared/notification' %>
  <%= form_with(model: [@project, @sponsor_preference], url: project_sponsor_preferences_path(@project)) do |preference_fields| %>
    <div class="col-md-8 offset-md-2">
      <div class="row">
        <h3 class="col-8">Sponsor Preference</h3>
      </div>
      <%= render partial: 'shared/sponsor_preference', locals: {f: preference_fields, key:""} %>
      <div class="text-center mt-4">
        <%= preference_fields.submit 'Save Sponsor Preference', class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
