<html>
<head>
  <title>Professor Registration</title>
  <%= javascript_include_tag 'dark_mode' %>
</head>
<body>
  <div class="d-flex justify-content-between align-items-center">
    <%= link_to "Back to Main Page", root_path, class: "btn btn-danger custom-maroon-button ml-3", id: "back-button" %>
    <button class="btn btn-danger custom-maroon-button" id="dark-mode-toggle">Toggle Dark Mode</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="text-center mb-4">Professor Registration</h1>
        <!-- Registration Form -->
        <form action="/profregistration" method="post">
        <div class="form-group mb-3">
            <label for="email">TAMU Email Address<span class="text-danger">*</span></label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your TAMU email address" required>
          </div>
          <div class="form-group mb-3">
            <label for="first-name">First Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="first-name" name="first_name" placeholder="Enter your first name" required>
          </div>
          <div class="form-group mb-3">
            <label for="last-name">Last Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="last-name" name="last_name" placeholder="Enter your last name" required>
          </div>
          <div class="text-center mt-4">
            <button type="submit" class="btn btn-danger custom-maroon-button">Register</button>
          </div>          
        </form>
        <hr>
      </div>
    </div>
  </div>
</div>
<!-- Showing Alerts after reigster is pressed -->
<% if flash[:success].present? %>
    <div class="alert alert-success alert-dismissible fade show m-4" role="alert">
      <%= flash[:success] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </button>
    </div>
  <% end %>

  <% if flash[:error].present? %>
    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
      <%= flash[:error] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</body>
</html>