<div class="form-group mb-3">
  <%= label_tag :contract_sign, 'Willingness to Sign Contracts <span class="text-danger">*</span>'.html_safe %>
  <br/>
  <select name="contract_sign" class="form-control" required>
    <option value="" selected disabled></option>
    <% @contract_sign.each do |sign_value| %>
      <option value="<%= sign_value %>"><%= sign_value %></option>
    <% end %>
  </select>
</div>