<div class="form-group mb-3">
  <% if @courses.present? %>
    <%= select_tag "course_id", options_for_select(@courses.map { |course| ["CSCE #{course.course_number}-#{course.section}-#{course.semester}", course.course_id] }, @cid), include_blank: true, class: "form-control"%>
  <% else %>
    <p>No courses available</p>
  <% end %>
</div>