<div class="form-group mb-3">
  <%= label_tag :ethnicity, 'Ethnicity' %>
  <br/>
  <select name="ethnicity[]" multiple class="form-control" required>
    <option value="" selected disabled></option>
    <% @ethnicity.each do |eth| %>
      <option value="<%= eth.ethnicity_name %>"><%= eth.ethnicity_name %></option>
    <% end %>
  </select>
</div>


