<div class="form-group mb-3">
<label name="nationality_label">Nationality<span class="text-danger">*</span></label>
  <br/>
  <select name="nationality" class="form-control" required>
    <option value="" selected disabled></option>
    <% @nationality.each do |nationality| %>
      <% selected_attribute = 'selected' if nationality == @nation %>
      <option value="<%= nationality %>" <%= selected_attribute %>><%= nationality %></option>
    <% end %>
  </select>
</div>