<div class="form-group mb-3">
    <label for="work_authorization">Work Authorization</label>
    <br/>
    <select name="work_authorization">
    <option value="" selected disabled></option>
    <option value="US Citizen">US Citizen</option>
    <option value="Permanent Resident">Permanent Resident</option>
    <option value="Work Visa">Work Visa</option>
    <option value="Student Visa">Student Visa</option>
    <option value="Not Authorized to Work">Not Authorized to Work</option>
    </select>
</div>