/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    background-color: #fff;
    color: #333;
}
.form-control {
    background-color: #f8f9fa; /* Light gray for input fields */
    color: #333;
}
.btn.btn-danger.custom-maroon-button {
    background-color: maroon;
    border-color: maroon;
    color: #fff;
}
a, label {
    color: #007bff; /* Blue for links and labels in light mode */
}

/* Dark Mode Styles */
html.dark-mode body {
    background-color: #202124;
    color: #fff;
}
html.dark-mode .form-control {
    background-color: #444;
    color: #fff;
}
html.dark-mode .btn.btn-danger.custom-maroon-button {
    background-color: maroon;
    border-color: maroon;
    color: #fff;
}
html.dark-mode a, html.dark-mode label {
    color: #bbb; /* Lighter color for links and labels in dark mode */
}

html.dark-mode table {
    color: #fff; /* Set text color for table content in dark mode */
}

.form-check-input:checked + .form-check-label::before {
    background-color: maroon;
  }
  .form-check-label {
    color: maroon;
  }

  /* Add hover effect */
  .form-check-input:checked + .form-check-label::before:hover {
    background-color: #800000; /* A slightly darker shade of maroon */
  }

.header {
    background-color: maroon;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
}

.container {
    margin-top: 30px;
}

.jumbotron {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: maroon;
    border: none;
}
.custom-button {
    width: 300px; /* Adjust the width as needed */
}
.btn-secondary {
    background-color: #600000;
    border: none;
}

.btn-primary:hover {
    background-color: #300000;
}

.custom-button a {
    color: inherit;
    text-decoration: none;
}
